<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>House Price Prediction</title>
  </head>

  <body>

    <hr size="10" color="skyblue">
    <center>
      <img src="../static/images.jfif" alt="carImage" height="110", width="200">
      <h1 color="blue">Get Best Price of Your Home</h1>
      <h3><em>Home is not a place…it's a feeling.</em></h3>
      <hr size="5" color="skyblue">
    <center>

    <center>
        <h2>Price of your Dream home around {{house_price}} Lacs Ruppes</h2>
        <img src="../static/house.jpg" alt="carImage" height="150", width="250">
    </center>